@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body,
h1 {
  margin: 0;
}

main {
  height: 100%;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.controller {
  background-color: lightblue;
}

.grid {
  background-color: #a5e794;
}

.grid-container {
  height: 100%;
  display: grid;
  gap: 1px;
}

.cell {
  background-color: #fff;
}

.resolution-button {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  width: 6rem;
}
