@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body,
h1 {
  margin: 0;
}

main {
  height: 100%;
  background-color: rgb(4, 9, 40);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  padding: 0.5rem;
}

.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex: 1;
}

.resolution-buttons,
.modifier-buttons {
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.resolution-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}

.resolution-buttons > *:nth-child(1) {
  background-color: yellowgreen;
}

.resolution-buttons > *:nth-child(2) {
  background-color: rgb(140, 140, 255);
}

.resolution-buttons > *:nth-child(3) {
  background-color: orange;
}

.resolution-buttons > *:nth-child(4) {
  background-color: yellow;
}

.color-picker {
  height: 2rem;
  width: 4.5rem;
}

.modifier-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.download-button {
  background-color: #ffffff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  font-size: 1rem;
}

.download-button {
  background-image: linear-gradient(
    to bottom right,
    rgb(254, 219, 130),
    rgb(20, 97, 169)
  );
  margin-top: -1.75rem;
}

.download-button > button:hover {
  cursor: pointer;
}

.grid {
  border: 1px solid #d8d8d8;
  display: flex;
  flex: 1;
}

.grid-container {
  display: grid;
  height: fit-content;
  flex: 1;
  gap: 1px;
}

.cell {
  aspect-ratio: 1;
}

.resolution-button:hover,
.fill-button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: scale 0.2s ease-in-out;
}

.resolution-button,
.fill-button,
.reset-button {
  width: 5rem;
  border: none;
  padding: 0.5rem 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.fill-button {
  background-color: rgb(255, 213, 108);
}

.reset-button {
  background-color: rgb(218, 18, 71);
  color: #fff;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
  }

  #app {
    flex-direction: row-reverse;
    height: fit-content;
    padding: 2rem;
  }

  .controller {
    flex-direction: column;
    justify-content: center;
  }

  .controller {
    flex: 1;
  }

  .grid {
    flex: 1;
  }

  .resolution-buttons,
  .modifier-buttons {
    width: 45%;
  }

  .download-button {
    margin-top: 0;
  }
}
